.App {
  text-align: center;
}
img{
  width: 100%;
}
.container {
  display: flex;

}

.item {
  flex: 1;
  padding: 10px;
  position: relative; 
  border: 1px solid green;
  overflow: hidden;
  
}
.item:hover .overlay {
  /* display: block; */
  bottom: 0;
  opacity: 0.6;
 
}
.overlay {
  /* display: none; */
  position: absolute;
  bottom: -100px;
  transition : bottom ease 1s;
  background-color: aqua;
  opacity: 0.6;
  left: 0px;
  right: 0px;
  
}

@media only screen and (max-width: 600px) {
.container{
  flex-direction: column;
}
}